:root{
    --main-color : rgb(21, 102, 192);
    --icon-color : rgb(255,255,255);
}

h2{
    color: var(--main-color);
}

.font_Roboto{
    font-family: 'Roboto', sans-serif;
}

.font_Righteous{
    font-family: 'Righteous', cursive;
}

/* sezione principale */

.master{
    background-image: linear-gradient(rgba(0,0,0),rgba(0,0,0,0)), url(./media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 150px;
}

.dim_sfondo{
    width: 100%;
    padding: 0px;
    overflow: hidden;

    
}
.over{
    overflow: hidden;
    
}
.dim_bMore{
    width: 150px;
    height: 50px;
}

.img-size{
    width: 100%;
}

/* card */

.box-card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 50px;
    /* justify-content: space-between; */

}

.rectangleCard{
    margin: 10px;
    border: 0.5px solid black;
    width: 400px;
    height: 500px;  
    
}

.bCardImg-1{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url(./media/1.png);
    background-size: cover;    
}

.bCardImg-2{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url(./media/2.png);
    background-size: cover;    
}

.bCardImg-3{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url(./media/3.png);
    background-size: cover;    
}

.bCardImg-4{
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.1),rgba(0,0,0,0.9)),url(./media/4.png);
    background-size: cover;    
}
.white_color{
    color: var(--icon-color);
}
.Card-border{
    border-bottom: 5px solid gold;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

/* sezione icone */

.dim_icone{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.box_sex_icon{
    width: 600px !important;
    /* height: 300px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    
}

.box_sex_text{
    width: 600px !important;
    /* height: 300px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/* sezione card sfalzate */
.h-box1{
    height: 75%;
}

.h-box2{
    height: 65%;
}

/* sezione circle card */
.img-circle{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    border: 10px solid var(--main-color);
}

.img-circle2{
    width: 425px;
    height: 425px;
    border-radius: 50%;
    border: 10px solid white;
    background-image: url(./media/binari-del-treno.jpg);
    background-size: cover;
}

.img-circle3{
    width: 425px;
    height: 425px;
    border-radius: 50%;
    border: 10px solid white;
    background-image: url(./media/strada-in-auto.jpg);
    background-size: cover;
}

/* section lorem col-6 */
.spaceTop{
    margin-top: 300px !important;
}

.bord-Line{
    border-right: 3px solid var(--main-color);
}

.bord-Line2{
    border-left: 3px solid var(--main-color);
}

.point_bord_blue{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid var(--main-color);
    background-color: white;
}

.button_sub{
    width: 200px;
    height: 50px;
    background-color: var(--main-color);
    color: white;
    border: 2px solid var(--main-color);
    border-radius: 5px;
}

.footer_img{
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5),rgba(0,0,0,0.5),rgba(0,0,0,1)) ,url(./media/footer.jpg);
    width: 100%;
    height: 80vh;
}

